body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.custom-welcome {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Search*/
.search-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-container .search-icon {
  align-self: flex-end;
  margin-bottom: 9px;
}

.search-container input {
  width: 200px;
  margin: 5px;
}

/*START OF CUSTOM CARD*/

.MuiCard-root.custom-card {
  background-color: #d9d9d9;
  color: black;
  transition: all 0.5s ease-in-out;
}

.MuiCard-root.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 5px #fbd743;
}

.custom-card .content {
  padding-bottom: 0;
}

.custom-img {
  width: 100px;
  height: 100px;
}

.product-wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
}
/*END OF CUSTOM CARD*/
